<div *ngIf="fish">
  <h2 class="details">Dettagli {{fish.breed}}</h2>
  <div class="fish-detail">
    <label class="text">Razza:<br>
      <input class="box" [(ngModel)]="fish.breed" placeholder="breed"/>
    </label>
  </div>
  <div class="fish-detail">
    <label class="text">Peso:<br>
      <input class="box" [(ngModel)]="fish.weight" placeholder="weight"/>
    </label>
  </div>
  <div class="fish-detail">
    <label class="text">Lunghezza:<br>
      <input class="box" [(ngModel)]="fish.length" placeholder="length"/>
    </label>
  </div>
  <button class="save" (click)="save()">Salva</button>
</div>
