<div *ngIf="fish">
  <h2 class="details">Dettagli {{fish.breed}}</h2>
  <div class="fish-detail">
    <label class="text">Razza:<br>
      <select class="box" [(ngModel)]="fish.breed">
          <option value="Anguilla">Anguilla</option>
          <option value="Carpa">Carpa</option>
          <option value="Luccio">Luccio</option>
          <option value="Persico">Persico</option>
          <option value="Pesce gatto">Pesce gatto</option>
          <option value="Piranha">Piranha</option>
          <option value="Spigola">Spigola</option>
          <option value="Storione">Storione</option>
          <option value="Trota">Trota</option>
          <option value="Magikarp">Magikarp</option>
      </select>
    </label>
  </div>
  <div class="fish-detail">
    <label class="text">Peso in kg:<br>
      <input class="box" #fishWeight value="{{fish.weight}}" type="number" min="1" max="50"/>
    </label>
  </div>
  <div class="fish-detail">
    <label class="text">Lunghezza in cm:<br>
      <input class="box" #fishLength value="{{fish.length}}" type="number" min="1" max="100"/>
    </label>
  </div>
  <button class="save" (click)="save(fishWeight.value,fishLength.value)">Salva</button>
</div>
