* {
  font-family: 'Roboto', sans-serif;
}

.fish-detail {
  margin: 0.2em;
}

.fish-detail input {
  margin-top: 5px;
}
.details{
  color: #fff;
  margin-left: 15px;
  text-shadow: -1px 0 black, 0 2px black, 1px 0 black, 0 0px black;
}
.save{
  margin-top: 20px;
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  color: #000;
  border-color: blue;
  margin-left: 10px;
  cursor: pointer;
  font-size: 20px;
  transition: 0.5;

}
.save:hover {
  background-color: blue;
  border-radius: 10px 10px 10px 10px;
  color: white;
  border-color: blue;
  cursor: pointer;
}
.text{
  margin-left: 10px;
  color: #fff;
  font-size: 20px;
  text-shadow: -1px 0 black, 0 2px black, 1px 0 black, 0 0px black;
}
.box{
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}
