* {
  font-family: 'Roboto', sans-serif;
}

.fish-detail {
  margin: 0.2em;
}

.fish-detail input {
  margin-top: 5px;
}
.details{
  color: #288DE6;
  margin-left: 10px;
}
.save{
  margin-top: 20px;
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  color: #000;
  border-color: blue;
  margin-left: 10px;
  cursor: pointer;
  font-size: 20px;
}
.text{
  margin-left: 10px;
  color: #288DE6;
  font-size: 20px;
}
.box{
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}
