<div>
  <div>
    <div
        ng2-carouselamos
        class="slides-wrapper"
        [items]="items"
        [width]="300"
        [$prev]="prev"
        [$next]="next"
        [$item]="item"
      >
      </div>


    <ng-template #prev>
      <img src="assets/img/left-arrow.png" id="left" />
    </ng-template>
    <ng-template #next>
      <img src="assets/img/right-arrow.png" id="right" />
    </ng-template>
    <ng-template #item let-item let-i="index">

        <div class="items">
          <img src="{{ item.name }}" class="carouselFish">
          <div>{{item.breed}}</div>
        </div>

    </ng-template>
  </div>
  <div class="box">
  <label>Razza:<br>
    <select #fishBreed>
        <option value="Anguilla">Anguilla</option>
        <option value="Carpa">Carpa</option>
        <option value="Luccio">Luccio</option>
        <option value="Persico">Persico</option>
        <option value="Pesce gatto">Pesce gatto</option>
        <option value="Piranha">Piranha</option>
        <option value="Spigola">Spigola</option>
        <option value="Storione">Storione</option>
        <option value="Trota">Trota</option>
        <option value="Magikarp">Magikarp</option>
    </select>
  </label>
  </div>
  <div class="box">
  <label>Peso in kg:<br>
    <input #fishWeight type="number" type="number" min="1" max="50"/>
  </label>
  </div>
  <div class="box">
  <label>Lunghezza in cm:<br>
    <input #fishLength type="number" type="number" min="1" max="100"/>
  </label>
  </div>
  <button class="add" (click)="add(fishBreed.value,fishWeight.value,fishLength.value); fishBreed.value='';fishWeight.value='';fishLength.value=''">
    Aggiungi
  </button>
</div>
