* {
  font-family: 'Roboto', sans-serif;
}

.add {
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  color: #000;
  border-color: blue;
  margin-top: 20px;
  margin-left: 30px;
}

.box {
  margin-left: 10px;
}
