* {
  font-family: 'Roboto', sans-serif;
}

.add {
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  color: #000;
  border-color: blue;
  margin-top: 20px;
  margin-left: 30px;
  cursor: pointer;
  transition: 0.5s;
  font-size: 20px;
}

.add:hover {
  background-color: blue;
  border-radius: 10px 10px 10px 10px;
  color: white;
  border-color: blue;
  margin-top: 20px;
  margin-left: 30px;
  cursor: pointer;
}

.box {
  margin-left: 10px;
  color: #288DE6;
  font-size: 20px;
}

.carouselFish {
  width: 300px;
  height: auto;
}

.text{
  font-size: 20px;
}

.information{
  font-size: 20px;
  text-align: center;
}
