<!--
<h2>Pesci pescati</h2>
<ul class="fishes">
  <li *ngFor="let fish of fishes">
    <a routerLink="/detail/{{fish.id}}">
      <img src="./img/{{fish.breed}}.png">
    </a>
  </li>
</ul>
<app-fish-detail [fish]="selectedFish"></app-fish-detail>
-->

<h2>I miei pesci</h2>

<ul class="fishes">
  <li *ngFor="let fishe of fishes"
    [class.selected]="fishes === selectedfishes"
    (click)="onSelect(fish)">
    <span class="badge">{{fish.id}}</span> {{fish.breed}}
  </li>
</ul>

<app-fish-detail [fish]="selectedFish"></app-fish-detail>
